.big_text {
	font-size: 1.2em;
	font-weight: bold;
}

.small_text {
	font-size: 0.8em;
	font-weight: normal;
}

ul {
	list-style-type: disc;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 5px;
}